* {
    font-family: "Inter", sans-serif;
}

body {
    background: url("resources/white-purple-pink.jpg"),
 url("resources/orange-red.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
}

nav {
    position: fixed;
    margin: 0;
    z-index: 10;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    backdrop-filter: blur(10px) brightness(95%);
    width: 100vw;
    height: 5vh;
    margin: 0;
    font-size: 12px;
}

.nav-menu-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 15vw;
    height: 5vh;
    margin: 0;
    background-color: #141414;
    padding: 1vh;
    z-index: 10;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: height 0.5s ease-in-out;
}

.nav-menu-dropdown .hidden-element {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out;
    text-align: center;
    color: #141414;
    font-size: 12px;
}

.nav-menu-dropdown:hover {
    background-color: transparent;
    backdrop-filter: blur(10px) brightness(95%);
    height: 25vh;
}

.nav-menu-dropdown:hover .hidden-element {
    opacity: 1;
    visibility: visible;
}

.nav-menu-dropdown label {
    width: 15vw;
    margin: 1vh;
    transition: font-weight 0.2s ease-in-out ;
}

.nav-menu-dropdown label:hover {
    font-weight: bold;
}

.circle {
    width: 3vh;
    height: 3vh;
    margin: 1vh;
    background: #141414;
    border-radius: 100%;
    transition: filter 0.3s ease-in-out;
}

.circle:hover{
    filter: invert();
}

.empty-panel {
    height: 5vh;
}

.container-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1250px;
    height: 600px;
    border-radius: 25px;
    margin: 2vh;
    padding: 2vh;
}

.panel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel-text h1{
    font-family: 'Inter Black', sans-serif;
}

.my-btn{
    width: 150px;
    height: 50px;
    background: transparent;
    backdrop-filter: none;
    border: 0.1px solid #141414;
    border-radius: 25px;
}

.my-btn:hover{
    backdrop-filter: blur(100px) brightness(95%);
    border: none;
    box-shadow: #141414 inset;
}

.footer-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 25vw;
    height: 5vh;
    margin: 0;
    bottom: 0;
    background: #141414;
    padding: 1vh;
    z-index: 10;
    border-top-right-radius: 25px;
    transition: height 0.5s ease-in-out;
}

.footer-panel h5:hover {
    text-decoration: underline;
}

.hidden-element {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    text-align: left;
    color: white;
    font-size: 12px;
}

.footer-panel:hover {
    height: 25vh;
}

.footer-panel:hover .hidden-element {
    opacity: 1;
    visibility: visible;
}